apiVersion: v1
kind: Secret
metadata:
  name: app-secret
  namespace: sandbox
type: Opaque
stringData:
  JWT_SECRET: "YOUR_JWT_SECRET_KEY_HERE"
  GEMINI_API_KEY: "YOUR_ACTUAL_GEMINI_API_KEY_HERE"


# 터미널에서 환경변수나 직접 입력으로 생성
# kubectl create secret generic app-secret -n sandbox \
#   --from-literal=JWT_SECRET="$JWT_SECRET" \
#   --from-literal=GEMINI_API_KEY="$GEMINI_API_KEY"